table {
    width: 100%;
}
 
td {
    padding: 20px;
    margin: 10px;
}
.scale{
    color: blue;
.ol{ 
    background-color: rgb(29, 133, 224);
}
.box inline-size: .ol;
{
    line-height: height: ;
}